/* Estilos personalizados para modificar los colores de las barras */

.sidebar, .sidebar-bg {
	background: #f5f5f5;
}

.navbar.navbar-inverse {
  background: #fff
}

.sidebar .nav>li.expand>a, .sidebar .nav>li>a:focus, .sidebar .nav>li>a:hover {
  /* background: 0 0; */
  color: #fff
}

.navbar.navbar-inverse .navbar-brand {
  color: #000
}

/* .header.navbar-inverse .navbar-brand,
.header.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.header .navbar-nav>.open>a, .header .navbar-nav>.open>a:focus, .header .navbar-nav>.open>a:hover {
  color: #000;
}

.header .navbar-toggle {
  color: #000;
}

.header.navbar-inverse .navbar-toggle .icon-bar {
	background: #000;
} */

.sidebar .nav > li > a {
    color: #000;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    color: #757575;
}

.sidebar .nav > li li.has-sub.active > a {
    color: #000;
}

.sidebar .sub-menu > li > a:hover,
.sidebar .sub-menu > li > a:focus,
.sidebar .sub-menu > li.active > a,
.sidebar .sub-menu > li.active > a:hover,
.sidebar .sub-menu > li.active > a:focus {
    color: #424242;
}

.sidebar .sub-menu > li > a {
  color: #000;
}

.sidebar-minify-btn {
    background: #BDBDBD;
    color: #000;
}

.sidebar .nav > li > a i {
    color: #000;
}

.sidebar-minify-btn:hover,
.sidebar-minify-btn:focus {
	color: #fff !important;
	background: #37474f !important;
}

.sidebar-minify-btn:hover i,
.sidebar-minify-btn:focus i {
	color: #fff !important;
  background: #37474f !important;
}

.float-sub-menu-container {
  background: #fff !important;
}

.float-sub-menu li.active>a, .float-sub-menu li.active>a:focus, .float-sub-menu li.active>a:hover, .float-sub-menu li>a:focus, .float-sub-menu li>a:hover {
  color: #000
}

.sidebar .nav>li.nav-profile .cover {
  background: #fff !important;
}

/* .sidebar .nav>li.nav-profile a:focus .cover.with-shadow:before, .sidebar .nav>li.nav-profile a:hover .cover.with-shadow:before {
  opacity: .25
} */

.sidebar .nav>li.nav-profile .cover.with-shadow:before {
  background: #BDBDBD
}

.sidebar .nav>li.nav-profile>a {
  color: #000a12
}

.sidebar .nav>li.nav-profile .info small {
  color: #4f5b62
}

.sidebar .nav>li.active>a, .sidebar .nav>li.active>a:focus, .sidebar .nav>li.active>a:hover {
  color: #fff;
}

.sidebar .nav .sub-menu>li>a .caret {
  color: #000a12
}

.header .navbar-nav>.open>a, .header .navbar-nav>.open>a:focus, .header .navbar-nav>.open>a:hover {
  color: #fff;
}

.header.navbar-inverse {
	background: #fff;
}
.header.navbar-inverse .brand,
.header.navbar-inverse .navbar-brand {
	color: #333;
}
.header.navbar-inverse .navbar-toggle .icon-bar {
	background: #212121;
}
.header.navbar-inverse .navbar-nav > li > a,
.header.navbar-inverse .navbar-nav > li .dropdown-toggle {
	color: #585663;
}
.header.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: #333;
}
